body{
  background-color: #000;
  color: #fff;
  padding:10px 20px;
}

h1{
  color: #fff;
  text-align: center;
}

button{
background-color: #fff;
padding: 5px 15px;
color:#000;
border-radius: 60px;

}

input{
  background-color:#ffffff3c;
  margin: 10px 10px;
  border-radius:50px;
  padding: 5px 10px;
}
form{
  border:1px solid #fff;
  padding: 20px 20px;
  margin: 10px;
  border-radius:10px;
}